<html>

<head>
    <title> Vue3 - Vue Component </title>
    <!-- 3장 Vue.js 기본 13. Vue 컴포넌트 -->
</head>

<body>
    <div id="app1">
        <ul>
            <li v-for="item in items" v:bind:key="item.name">
                {{ item.name }} 의 가격 :
                <input type="text" v-on:input="item.price = $event.target.value" v-bind:value="item.price">
            </li>
        </ul>
        <hr>
        <!-- 
            전역/지역 컴포넌트 표시 
            => 동일한 이름 명명시 지역 컴포먼트가 전역 컴포넌트를 덮어 씌운다.
        -->
        <item-list v-bind:items="items"></item-list>
    </div>
    <hr>
    <div id="app2">
        <ul>
            <li v-for="item in items" v:bind:key="item.name">
                {{ item.name }} 의 가격 :
                <input type="text" v-on:input="item.price = $event.target.value" v-bind:value="item.price">
            </li>
        </ul>
        <hr>
        <!-- 전역 컴포넌트 표시 
            => 컴포넌트 등록이 안되서 지역 컴포넌트는 나타나지 않는다.
        -->
        <item-list v-bind:items="items"></item-list>
    </div>
</body>

<!-- 

-->

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script type="text/javascript">

    /*
        1. vue component
         => 조합하여 구성할 수 있는 재사용 가능한 Vue instance
         => Local / Global로 구분
    */
        var items = [
            {
                name: 'CPU',
                price: 462984,
                quantity: 1
            },
            {
                name: '메인보드',
                price: 112053,
                quantity: 1
            },
            {
                name: '메모리',
                price: 79608,
                quantity: 2
            }
        ]

        // 전역 컴포넌트
        Vue.component('item-list', {
            props: ['items'],
            template:
                `
                <div>
                    <p>전역 컴포넌트 입니다</p>
                    <ul>
                        <li v-for="item in items" v:bind:key="item.name">
                            {{ item.name }} : {{ item.price }} 원 X {{ item.quantity }} 개 = {{ item.price*item.quantity }} 원
                        </li>
                    </ul>
                    <p>합계 {{totalPrice}} 원</p>
                </div>
                `,
            computed: {
                totalPrice: function () {
                    return this.items.reduce(function (sum, item) {
                        return sum + (item.price * item.quantity)
                    }, 0)
                }
            }
        });

        //지역 컴포넌트

        var ItemList = {
            props : ['items'],
            template :
            `
            <div>
                <p>지역 컴포넌트 입니다</p>
                <ul>
                    <li v-for="item in items" v:bind:key="item.name">
                        {{ item.name }} : {{ item.price }} 원 X {{ item.quantity }} 개 = {{ item.price*item.quantity }} 원
                    </li>
                </ul>
                <p>합계 {{totalPrice}} 원</p>
            </div>
            `,
            computed: {
                totalPrice: function () {
                    return this.items.reduce(function (sum, item) {
                        return sum + (item.price * item.quantity)
                    }, 0)
                }
            }
        }
        var App1 = new Vue({
            el: '#app1',
            data : {
                items : items
            },
            // 지역 컴포넌트 등록
            components : {
                'item-list' : ItemList
            }
        });


        var App2 = new Vue({
            el: '#app2',
            data: {
                items: items
            }
        });

    /*
        2. 컴포넌트 명명 규칙
        => 아래와 같이 2개의 방식으로 명명 가능
        var App = new Vue({
            el : '#app',
            components :{
                // 컴포넌트 명명 규칙 1 : 케밥 케이스 => 전체 소문자, 단어를 하이픈으로 연결
                'board-register-form': {
                    props: [data],
                    template:
                     `
                    <template>
                        <div align="center">
                            <h2>회원게시판 등록</h2>
                            <board-register-form @submit="onSubmit" />
                        </div>
                    </template>                   
                     `
                },
                // 컴포넌트 명명 규칙 2 : 파스칼 케이스 => 첫문자가 대문자이 camel case 방식
                'BoardResigerForm': {
                    props: [data],
                    template:
                     `
                    <template>
                        <div align="center">
                            <h2>회원게시판 등록</h2>
                            <BoardResigerForm @submit="onSubmit" />
                        </div>
                    </template>
                     `
                }
            }
        });
    */

</script>

</html>